<div class="container">
    <p>vehicle-Delete works!</p>
    <h2>Delete un vehículo</h2>  
    
    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger" role="alert">
            Esta seguro de eliminar el registro?
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Borrar</button>
                <a class="btn btn-outline-danger btn-sm" [routerLink]="['/vehicle-list']">Volver</a>        
            </div>
        </div>
    </div>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-danger" role="alert">
            {{ msg }}
            <br>
            <a class="btn btn-outline-danger btn-sm" [routerLink]="['/vehicle-list']">Volver</a>        
        </div>
    </div>

    <form #vehicleForm="ngForm">    
        <div class="row">
            <div class="col">
                <label>ID:</label>
                <input type="text"  id="Id" name="Id" disabled placeholder="Identificador de registro" 
                 class="form-control"  #id [(ngModel)]="vehicle.id" value="0"/>
            </div>
            <div class="col">
                <label>Tipo de vehículo:</label>
                <input type="text" id="typeVehicle" name="typeVehicle"  placeholder="Tipo de Vehículo" 
                class="form-control" #idVehicleType [(ngModel)]="vehicle.idVehicleType" />
            </div>
            <div class="col">
                <label>Modelo:</label>
                <input type="text" id="model" name="model"  placeholder="Modelo de Vehículo" 
                class="form-control" #model [(ngModel)]="vehicle.model" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Placa:</label>
                <input type="text" id="licensePlate" name="licensePlate"  placeholder="Placa" 
                class="form-control" #licensePlate [(ngModel)]="vehicle.licensePlate" />
            </div>
            <div class="col">
                <label>Color:</label>
                <input type="text" id="color" name="color"  placeholder="Color del Vehículo" 
                class="form-control" #color [(ngModel)]="vehicle.color" />
            </div>
            <div class="col">
                <label>Pasajeros:</label>
                <input type="text" id="numberPassengers" name="numberPassengers"  placeholder="Número de Pasajeros" 
                class="form-control" #numberPassengers [(ngModel)]="vehicle.numberPassengers" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col">
                    <label>Foto:</label>
                    <input type="text" id="photo" name="photo"  placeholder="Seleccione una Imagen" 
                    class="form-control" #photo [(ngModel)]="vehicle.photo" />
                </div>
                <div class="col">   
                    <input type="hidden" id="dataVehicleType" name="dataVehicleType" 
                    class="form-control" #dataVehicleType [(ngModel)]="vehicle.dataVehicleType" />
                </div>            
            </div>
        </div>
    </form>
</div>